<!-- THIS IS IMPORTED INSIDE INDEX.HTML -->

<div id="palette-container">

    <button id="palette-toggle">
        Palette ▼
    </button>

    <div id="palette">

        <div class="component" draggable="true" data-name="ESP32">
            ESP32
        </div>

        <div class="component" draggable="true" data-name="Potentiometer">
            Potentiometer
        </div>

        <div class="component" draggable="true" data-name="ADC Read">
            ADC Read
        </div>

        <div class="component" draggable="true" data-name="Mapper">
            Mapper
        </div>

        <div class="component" draggable="true" data-name="Servo">
            Servo
        </div>

        <div class="component" draggable="true" data-name="LED">
            LED
        </div>

        <div class="component" draggable="true" data-name="Flask">
            Flask
        </div>

        <div class="component" draggable="true" data-name="Frontend">
            Frontend
        </div>

        <div class="component" draggable="true" data-name="Database">
            Database
        </div>

    </div>

</div>